:root {
  --color-primario: #626b80;
  --color-secundario: rgb(15, 148, 224);
  --color-backgroud-sombra: #e92f3d30;
  --color-background: #3d3c3d;
  --color-texto: #a1a5a6;
  --text-defaul: "Poppins", sans-serif;
}

/* 
      font-family: 'Lato', sans-serif;
      font-family: 'Poppins', sans-serif;
      font-family: 'PT Serif', serif; */

html {
  box-sizing: border-box;
  font-size: 62.5%; /*1REM = 10px*/
}

::selection {
  background: #1abc9c;
  color: #fff;
  text-shadow: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  text-decoration: none;
}
/* 
        * {
          scroll-behavior: smooth;
        } */

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  line-height: 2;
  background: #626b80;
}

p {
  font-size: 1.6rem;
  line-height: 2;
}

/***********************
  ********GOBLALES********
  ************************/

.contenedor {
  max-width: 120rem;
  width: 95%;
  margin: 0 auto;
  overflow: auto;
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 4rem;
  line-height: 1.2;
}

h3 {
  font-size: 3.2rem;
}

h4 {
  font-size: 2.8rem;
}

img {
  max-width: 100%;
}

.section {
  position: relative;
  width: 100%;

  padding: 60px 0;

  overflow: hidden;
}

.hidden {
  overflow: hidden;
}
/***********************
  ********UTILIDADES********
  ************************/

.centrar-texto {
  text-align: center;
}

.no-margin {
  margin: 0;
}

.btn {
  text-align: center;
  padding: 1rem 3rem;
  margin: 2rem 0;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.8rem;
  background-color: #c0400e;
  transition: all 0.3s;
}

.btn:hover {
  color: rgb(15, 148, 224);
}

/* BOTON DE IR ARRIBA */
#btn-top {
  width: 5rem;
  height: 5rem;
  background: #3b455c;
  cursor: pointer;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 1;
  transform: translateY(200%);
  transition: all 0.5s;
}

#btn-top.show {
  transform: translateY(0);
}

#btn-top.scrollFinal {
  transform: translateY(-250%);
}

#btn-top span {
  color: #fff;
  font-size: 2.5rem;
  width: 100%;
  text-align: center;
  line-height: 5rem;
  transition: all 0.5s;
}

#btn-top:hover {
  background: rgb(15, 148, 224);
}

#btn-top:hover span {
  transform: translateY(-3px);
}

/***************MENU PRINCIPAL*************************/

.menu-principal {
  width: 100%;
  max-width: auto;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding: 0 4rem;
  padding-top: 1rem;
  background-color: rgba(13, 37, 56, 0.322);
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 200;
}

@media (min-width: 768px) {
  .menu-principal {
    padding: 0 8rem;
  }
}

header {
  display: flex;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      160deg,
      rgba(106, 110, 112, 0.5) 0%,
      rgba(70, 75, 74, 0.5) 100%
    ),
    url(../assets/banner-header.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.head h1 {
  font-size: 3vw;
  color: #f8f8f8;
  letter-spacing: 0.1em;
  padding-bottom: 8rem;
}

.logo img {
  width: 20rem;
  cursor: pointer;
}

.menu-bar {
  /* DISPLAY FLEX PARA QUE APAREZCAN UNO AL LADO DEL OTRO space bet separa uno para qcada lado*/
  display: flex;
  width: 100%;
  justify-content: flex-end;
  left: 2rem;
  margin-left: 1rem;
  align-items: center;
}

.enlaces {
  padding-left: 0;
}

@media (min-width: 768px) {
  .enlaces {
    padding-right: 5rem;
  }
}
.menu-bar .enlaces ul li {
  /* display in line block para que aparezcan en linea uno al lado del otro*/
  display: inline-block;
  padding: 0 1rem;
}

.menu-bar .enlaces ul li a {
  /*el backgarnd es espacial para que tenga una linea abajo cuando hago hover*/
  font-size: 1.4rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  background: linear-gradient(currentColor, currentColor);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: 0% 0.2rem;
  transition: all 0.5s;
}
.menu-bar .enlaces ul li a:hover {
  color: var(--color-secundario);
  background-size: 50% 0.2rem;
}
.menu-bar .sociales a {
  font-size: 1.6rem;
  text-transform: uppercase;
  padding: 0 1rem;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  transition: all 0.5s;
  z-index: 30;
}

.menu-bar .sociales a:hover {
  color: var(--color-secundario);
}
.menu-principal i {
  cursor: pointer;
  color: var(--color-texto);
  font-size: 3rem;
  float: right;
  display: none;
  transition: all 0.5s;
}
.menu-principal i:hover {
  color: var(--color-secundario);
}

.container-flecha {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-plus {
  font-weight: bold;
  font-size: 3em;
  color: #fff;
  transition: all 3s;
}

.fa-plus:hover::before {
  content: "\f063";
  color: var(--color-secundario);
}

/* ALERTAS */
.alertas {
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert {
  width: 60%;
  padding: 20px 60px;
  position: fixed;
  top: 0;
  transition: all 0.5s;
}

.alert.show {
  transform: translateY(50%);
}

.alert.hide {
  transform: translateY(-100%);
}

.alert .icono-alert {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
}

.alert .msg {
  padding: 0 20px;
  font-size: 18px;
}

#alertError {
  background: #f8d7da;
  border-right: 4px solid #da3748;
}

#alertErrorMail {
  background: #f8d7da;
  border-right: 4px solid #da3748;
}

#alertError .icono-alert {
  color: #da3748;
}

#alertError .msg {
  color: #721c24;
}

#alertSuccess {
  background: #d4edda;
  border-right: 4px solid #279e43;
}

#alertSuccess .icono-alert {
  color: #279e43;
}

#alertSuccess .msg {
  color: #155724;
}

/* ##################################
########## MEDIA QUERYS ##############
#####################################*/

@media screen and (max-width: 920px) {
  footer {
    flex-wrap: wrap;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

/* ***************************** 650 px  *********************************************** */

@media screen and (max-width: 650px) {
  /* MENU PRINCIPAL */
  .menu-principal {
    top: 0;
    margin-top: 0;
    width: 100%;
    z-index: 500;
    background-color: rgba(13, 37, 56, 0.322);
    padding-top: 1rem;
  }
  .head h1 {
    font-size: 2.3vh;
    text-align: center;
    padding: 0 2rem;
  }

  .fa-bars:before {
    color: #707070;
  }

  .menu-principal i {
    display: block;
  }

  .menu-bar {
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    background: #333;
    transition: all 1s;
    transform: translateX(100%);
    text-align: center;
  }

  .menu-bar.active {
    /*CREAR CLASE .ACTIVE PARA CUANDO SE LA PONGA APAREZCA EN PANTALLA POR EL TRASLATE X)*/
    transform: translateX(0%);
  }

  .menu-bar i {
    position: absolute;
    right: 5rem;
    top: 5rem;
  }

  .menu-bar .enlaces ul li {
    display: block;
    padding: 2rem 2rem;
    text-align: center;
  }

  .menu-bar .enlaces ul li a,
  .menu-bar .sociales a {
    font-size: 2rem;
  }

  /* ALERTAS */
  .alert {
    width: 100%;
  }

  .alert.show {
    transform: translateY(150%);
  }

  /* FOOTER */
  footer {
    flex-wrap: wrap;
    margin-top: 0px;
  }

  /* BOTON DE IR ARRIBA */
  #btn-top {
    display: none;
  }

  .social-icon i {
    font-size: 10rem !important;
  }
}
/** FINALIZACION DE MEDIA QUERYS MAX WIDTH*****/
