<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta
      name="keywords"
      content="sharepoint, power apps, power sutomate, desarrollo, web, mobile, react, node, mongo, consultoría, ionic, android, ios, ecommerce, social media, migracion, microsoft, flow, microsfot 365, dynamics crm, serivce delivery, biometría, onboarding"
    />
    <title>Sinaptic | Applied Technology</title>

    <meta name="description" content="Alianzas fuertes logran resultados extraordinarios"/>
    <meta http-equiv="Cache-control" content="max-age=604800, public">
    <!-- PWA -->
    <meta name="MobileOptimized" content="width" />
    <meta name="theme-color" content="#626b80" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <link rel="apple-touch-icon" href="./assets/32x32.png" />
    <link rel="apple-touch-startup-image" href="./assets/32x32.png" />
    <link rel="manifest" href="./manifest.json" />
    <meta content="Sinaptic" name="Author" />

    <!-- Og: Property -->
    <meta property="og:title" content="Sinaptic | Applied Technology" />
    <meta property="og:type" content="text" />
    <meta property="og:url" content="http://sinaptic.com.ar" />
    <meta property="og:description" content="Alianzas fuertes logran resultados extraordinarios"
    />
    <meta property="og:image"content="https://raw.githubusercontent.com/badkluster/Sinaptic/main/assets/logo-sinaptic-azul.png"/>
    <meta property="og:image:url" content="https://raw.githubusercontent.com/badkluster/Sinaptic/main/assets/logo-sinaptic-azul.png">
    <meta property="og:image:secure_url" content="https://raw.githubusercontent.com/badkluster/Sinaptic/main/assets/logo-sinaptic-azul.png">
    <meta property="og:image:type" content="png">
    <meta property="og:image:alt" content="Logo Sinaptic Website">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="Alianzas fuertes logran resultados extraordinarios"/>
    <meta name="twitter:creator" content="Sinaptic" />
    <meta name="twitter:site" content="http://sinaptic.com.ar" />
    <meta name="twitter:image:alt" content="Logo Sinaptic Website">
    <meta name="twitter:image" content="https://raw.githubusercontent.com/badkluster/Sinaptic/main/assets/logo-sinaptic-azul.png">

    <meta name="robots" content="index" />
    <meta name="robots" content="follow" />
    <link rel="shortcut icon" href="./assets/32x32.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <!-- ESTILOS -->
    
    <link
      rel="preload"
      href="./assets/glyphter-font/css/Glyphter.css"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <noscript><link rel="stylesheet" href="./assets/glyphter-font/css/Glyphter.css" /></noscript>
    <link
      rel="preload"
      href="./css/letras.css"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <noscript><link rel="stylesheet" href="./css/letras.css" /></noscript>
    
    <link
      rel="preload"
      href="./css/normalize.css"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <noscript><link rel="stylesheet" href="./css/normalize.css" /></noscript>
    

    <link rel="stylesheet" defer href="./css/inicio.css" />

    <!-- AOS -->
    <link
    rel="preload"
    href="./css/aos.css"
    as="style"
    onload="this.onload=null;this.rel='stylesheet'"
  />
  <noscript><link rel="stylesheet" href="./css/aos.css" /></noscript>

    <link
      rel="preload"
      href="./css/estilos.css"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <noscript><link rel="stylesheet" href="./css/estilos.css" /></noscript>

    <script
      src="https://kit.fontawesome.com/bcdef35034.js"
      crossorigin="anonymous"
      defer
    ></script>
    <script defer>
      window.dataLayer = window.dataLayer || [];
  
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
  
      gtag('config', 'UA-96539148-1');
  </script>
  
  <!-- Matomo -->
  <script type="text/javascript" defer>
    var _paq = _paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="https://spanalytics.com.ar/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', '1']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-96539148-1"></script>
    

  </head>
  <body id="body">
    <!-- BOTON DE IR ARRIBA -->
    <div id="btn-top">
      <a href="#body" aria-label="UP"><span class="fas fa-angle-up"></span> </a>
    </div>

    <!--  MENU PRINCIPAL-->

    <div class="menu-principal">
      <div class="logo" id="logo">
        <a href="#body" aria-label="UP">
          <img src="assets/logoblanco.webp" alt="Logo Sinaptic"
        /></a>
      </div>

      <div class="menu-bar" id="menuBar">
        <i class="fas fa-angle-right" id="btnMenuClose"> </i>

        <nav class="enlaces" id="enlaces">
          <ul>
            <li><a href="#servicios">Servicios</a></li>
            <li><a href="#beneficios">Beneficios</a></li>
            <li><a href="#tecnologias">Tecnologías</a></li>
            <li><a href="#clientes">Clientes</a></li>
            <li><a href="#contacto">Contacto</a></li>
          </ul>
        </nav>

        <div class="sociales">
          <a
            href="https://www.facebook.com/Sinaptic.ES"
            target="_blank"
            aria-label="Facebook"
            rel="noopener"
            ><span class="fab fa-facebook" alt="facebook de Sinaptic"></span
          ></a>
          <a
            href="https://www.instagram.com/sinaptic_ar/"
            target="_blank"
            aria-label="Instagram"
            rel="noopener"
            ><span class="fab fa-instagram" alt="intagram de Sinaptic"></span
          ></a>
          <a
            href="https://api.whatsapp.com/send?phone=+541168119269"
            target="_blank"
            aria-label="Whatsapp"
            rel="noopener"
            ><span class="fab fa-whatsapp" alt="whatsapp de Sinaptic"></span
          ></a>
          <a
            href="https://www.linkedin.com/company/sinaptic"
            target="_blank"
            aria-label="Linkedin"
            rel="noopener"
            ><span class="fab fa-linkedin" alt="linkedin de Sinaptic"></span
          ></a>
        </div>
      </div>
      <i class="fas fa-bars" id="btnMenuOpen"></i>
    </div>
    <!-- HEADER -->

    <header>
      <div class="head">
        <h1 data-aos="fade-up" data-aos-duration="2000" data-aos-delay="400">
          Alianzas fuertes logran resultados extraordinarios
        </h1>
      </div>

      <a href="#servicios" aria-label="Abajo" class="container-flecha">
        <i class="fas fa-plus mas" alt="ir abajo"></i>
      </a>
    </header>
    <!-- FINISH HEADER -->

    <!-- Servicios =============================================  -->
    <main class="nosotros-contenedor" id="servicios">
      <h2>Nuestros Servicios</h2>
      <div class="contenido-servicios">
        <p>
          Somos un equipo de profesionales apasionados por lo que hacemos. Escuchamos a nuestros clientes, analizamos sus necesidades y diseñamos un plan de acción para brindarles la solución que mejor se ajuste a sus intereses. Llevamos a cabo la planificación utilizando tecnologías de vanguardia. Abrazamos los desafíos, logrando siempre resultados de gran impacto en el negocio.</p>
      </div>

      <div class="nosotros-grid">
        <div class="nosotros-secciones">
          <div class="feature-box fbox-center fbox-outline fbox-lg fbox-effect">
            <div class="fbox-icon alt-it">
              <a href="#" aria-label="title">
                <label for="post-1">
                  <i class="icon-1 serviciosintegrales i-alt"></i>
                </label>
              </a>
            </div>
          </div>
          <h3>Servicios Integrales de Microsoft 365 Y SharePoint</h3>

          <div>
            <input type="checkbox" class="read-more-state" id="post-1" />
            <p class="read-more-wrap">
              Potenciamos a las organizaciones con las múltiples funcionalidades
              disponibles en la plataforma <span class="tres-puntos">...</span>
              <span class="read-more-target"
                >Microsoft 365. Optimizamos y automatizamos todo tipo de tareas y procesos.</span
              >
            </p>
            <label for="post-1" class="read-more-trigger"></label>
          </div>
        </div>

        <div class="nosotros-secciones">
          <div class="feature-box fbox-center fbox-outline fbox-lg fbox-effect">
            <div class="fbox-icon">
              <a href="#" aria-label="title" class="titulo">
                <label for="post-2"
                  ><i class="icon-2 desarrolloweb i-alt"></i></label
              ></a>
            </div>
          </div>
          <h3>Desarrollo Web</h3>
          <div>
            <input type="checkbox" class="read-more-state" id="post-2" />
            <p class="read-more-wrap">
              Creamos aplicaciones web de alta performance utilizando las
              últimas tecnologias <span class="tres-puntos">...</span>
              <span class="read-more-target"
                >para lograr productos que se marquen la diferencia en el negocio.</span
              >
            </p>
            <label for="post-2" class="read-more-trigger"></label>
          </div>
        </div>

        <div class="nosotros-secciones">
          <div class="feature-box fbox-center fbox-outline fbox-lg fbox-effect">
            <div class="fbox-icon">
              <a href="#" aria-label="title" class="titulo">
                <label for="post-3">
                  <i class="icon-3 desarrollomobile i-alt"> </i>
                </label>
              </a>
            </div>
          </div>
          <h3>Desarrollo Mobile</h3>
          <div>
            <input type="checkbox" class="read-more-state" id="post-3" />
            <p class="read-more-wrap">
              Desarrollamos productos móviles con un servicio end-to-end.
              Ayudamos a desarrollar proyectos <span class="tres-puntos">...</span> 
              <span class="read-more-target"
                >de cero, mejorar uno existente o mantener una aplización
                productiva utilizando tecnología de punta.</span
              >
            </p>
            <label for="post-3" class="read-more-trigger"></label>
          </div>
        </div>

        <div class="nosotros-secciones">
          <div class="feature-box fbox-center fbox-outline fbox-lg fbox-effect">
            <div class="fbox-icon">
              <a href="#" aria-label="title" class="titulo"
                ><label for="post-4"
                  ><i class="icon-4 diseñoyarquitectura i-alt"></i
                ></label>
              </a>
            </div>
          </div>
          <h3>Diseño y Arquitectura de Sistemas</h3>
          <div>
            <input type="checkbox" class="read-more-state" id="post-4" />
            <p class="read-more-wrap">
              Aplicamos patrones de diseño y buenas prácticas con el fin de
              guiar a nuestros clientes en <span class="tres-puntos">...</span>
              <span class="read-more-target"
                >el proceso de desarrollo de un software sólido y escalable.
                Nuestros expertos realizaran investigaciones y análisis de
                negocio para ofrecer la mejor solución. Implementamos nuestra
                experiencia en diseño, revisión, desarrollo, ajuste y mejora de
                una arquitectura de software compleja.</span
              >
            </p>
            <label for="post-4" class="read-more-trigger"></label>
          </div>
        </div>

        <div class="nosotros-secciones">
          <div class="feature-box fbox-center fbox-outline fbox-lg fbox-effect">
            <div class="fbox-icon">
              <a href="#" aria-label="title" class="titulo"
                ><label for="post-5"
                  ><i class="icon-5 capacitación i-alt"></i></label
              ></a>
            </div>
          </div>
          <h3>
            Capacitación y Transferencia de Conocimiento
          </h3>
          <div>
            <input type="checkbox" class="read-more-state" id="post-5" />
            <p class="read-more-wrap">
              Acompañamos a las organizaciones en su proceso de transformación
              digital, llevando adelante <span class="tres-puntos">...</span> 
              <span class="read-more-target"
                >un proceso de evolución optimizado. Disponemos de
                servicios de capacitación y Workshops, permitiendo incorporar
                nuestro conocimiento y experiencia a un plan de acción para
                cumplir las metas en menor tiempo.</span
              >
            </p>
            <label for="post-5" class="read-more-trigger"></label>
          </div>
        </div>

        <div class="nosotros-secciones">
          <div class="feature-box fbox-center fbox-outline fbox-lg fbox-effect">
            <div class="fbox-icon">
              <a href="#"  aria-label="title" class="titulo"
                ><label for="post-6"><i class="fas fa-robot i-alt"></i></label
              ></a>
            </div>
          </div>
          <h3>RPA Y BPM</h3>
          <div>
            <input type="checkbox" class="read-more-state" id="post-6" />
            <p class="read-more-wrap">
              Trabajamos utilizando tecnologías RPA Y BPM para generar nuevos
              niveles de calidad y <span class="tres-puntos">...</span>
              <span class="read-more-target"
                >productividad en la estrategia de transformación digital de la
                empresa y sus productos. Brindamos automatización de procesos
                procesos mediante robots y Gestión de Procesos de Negocio.</span
              >
            </p>
            <label for="post-6" class="read-more-trigger"></label>
          </div>
        </div>
      </div>
    </main>
    <!-- Servicios end =============================================  -->

    <!-- Beneficios =============================================  -->
    <section id="beneficios" class="beneficios">
      <h2>Beneficios</h2>
      <div class="contenido-beneficios">
        <p>Acompañamos a las empresas en su proceso de crecimiento y transformación digital. Cumplimos con los objetivos en menor tiempo, maximizando los beneficios.</p>
      </div>
     
      </div>
      <div class="parent">
        
        <div class="div1 div-beneficios">
          <img src="./assets/beneficios-3.webp" alt="Incremento en los canales de venta" style="max-width: 100%; height: 15rem" loading="lazy" />
          <p>Incremento en los canales de venta</p>
        </div>
        <div class="div2 div-beneficios">
          <img src="./assets/beneficios-4.webp" alt="Mantenerse a la vanguardia de su mercado" style="max-width: 100%; height: 15rem" loading="lazy" />
          <p>Mantenerse a la vanguardia de su mercado</p>
        </div>
        <div class="div3 div-beneficios">
          <img src="./assets/beneficios-1.webp" alt="Dominio de Tecnologías de última generacion" style="max-width: 100%; height: 15rem" loading="lazy" />
          <p>Dominio de tecnologías de última generacion</p>
        </div>
        <div class="div4 div-beneficios">
          <img src="./assets/beneficios-5.webp" alt="" style="max-width: 100%; height: 15rem" loading="lazy" />
          <p>Transferencia de conocimiento</p>
        </div>
        <div class="div5 div-beneficios">
          <img src="./assets/beneficios-6.webp" alt="Transferencia de conocimiento" style="max-width: 100%; height: 15rem" loading="lazy" />
          <p>Acompañamiento y seguimiento</p>
        </div>
        <div class="div6 div-beneficios">
          <img src="./assets/beneficios-7.webp" alt="Optimización de tareas"style="max-width: 100%; height: 15rem" loading="lazy" />
          <p>Optimización de tareas</p>
        </div>
        
      </div>
    </section>

    <!-- Beneficios end =============================================  -->

    <!-- Tecnologias =============================================  -->
    <section class="tecnologias-contenedor" id="tecnologias">
      <h2>Tecnologías</h2>
      <div class="contenido-tecnologias">
        <p>
          Nos especializamos en tecnologías de última generación. Esto nos permite aplicar la que mejor se ajuste a cada necesidad de negocio, generando resultados de alto impacto en las empresas. 
        </p>
      </div>

      <div class="tecnologias-grid">
        <div class="tecnologias-secciones">
          <img
            src="./assets/Sharepoint.webp"
            alt="imagen SharePoint"
            style="max-width: 100%; height: 100px"
            class="apagado"
            loading="lazy" 
          />
          
        </div>

        <div class="tecnologias-secciones">
          <img
            src="./assets/365 color logo.webp"
            alt="Imagen Office 365"
            style="max-width: 100%; height: 50px"
            class="apagado"
            loading="lazy" 
          />
        
        </div>

        <div class="tecnologias-secciones">
          <img
            src="./assets/net.webp"
            alt="imagen .Net"
            style="max-width: 100%; height: 70px"
            class="apagado"
            loading="lazy" 
          />
       
        </div>

        <div class="tecnologias-secciones">
          <img
            src="./assets/angular-logo-png.webp"
            alt="Imagen Angular"
            style="max-width: 100%; height: 100px"
            class="apagado"
            loading="lazy" 
          />
        
        </div>

        <div class="tecnologias-secciones">
          <img
            src="./assets/Dynamics-365-logo.webp"
            alt="imagen Dynamics 365"
            style="max-width: 100%; height: 70px"
            class="apagado"
            loading="lazy" 
          />
         
        </div>

        <div class="tecnologias-secciones">
          <img
            src="./assets/firebase.webp"
            alt="Imagen Firebase"
            style="max-width: 100%; height: 70px"
            class="apagado"
            loading="lazy" 
          />
          
        </div>

        <div class="tecnologias-secciones">
          <img
            src="./assets/HTML5 JS Y CSS JUNTOS.webp"
            alt="imagen HTML5, CSS3, Javascript"
            style="max-width: 100%; height: 70px"
            class="apagado"
            loading="lazy" 
          />
         
        </div>

        <div class="tecnologias-secciones">
          <img
            src="./assets/ionic logo.webp"
            alt="imagen Ionic"
            style="max-width: 100%; height: 70px"
            class="apagado"
            loading="lazy" 
          />
          
        </div>

        <div class="tecnologias-secciones">
          <img
            src="./assets/Microsoft_Azure_Logo.webp"
            alt="imagen Microsoft Azure"
            style="max-width: 100%; height: 70px"
            class="apagado"
            loading="lazy" 
          />
          
        </div>

        <div class="tecnologias-secciones">
          <img
            src="./assets/mongodb logo.webp"
            alt="imagen MongoDB"
            style="max-width: 100%; height: 70px"
            class="apagado"
            loading="lazy" 
          />
         
        </div>

        <div class="tecnologias-secciones">
          <img
            src="./assets/Node js logo.webp"
            alt="imagen NodeJs"
            style="max-width: 100%; height: 70px"
            class="apagado"
            loading="lazy" 
          />
        
        </div>

        <div class="tecnologias-secciones">
          <img
            src="./assets/React logo.webp"
            alt="imagen ReactJs"
            style="max-width: 100%; height: 70px"
            class="apagado"
            loading="lazy" 
          />
          
        </div>
      </div>
    </section>
    <!-- Tecnologias end =============================================  -->

    <!-- Clientes =============================================  -->
    <section class="clientes-contenedor" id="clientes">
      <h2>Algunos de nuestros clientes</h2>

      <div class="parent-clientes">
        <img src="./assets/abinbev logo png.webp" alt="imagen logo abin" style="max-width: 100%; height: 70px;"  loading="lazy" >
        <img src="./assets/INTA.webp" alt="imagen logo inta" style="max-width: 100%; height: 70px;" loading="lazy" >
        <img src="./assets/afab logo png.webp" alt="imagen logo afab" style="max-width: 100%; height: 50px;" loading="lazy" >
        <img src="./assets/antofagasta.webp" alt="imagen logo antofagasta" style="max-width: 100%; height: 50px;" loading="lazy" >
        <img src="./assets/armytech logo png.webp" alt="imagen logo armytech" style="max-width: 100%; height: 50px;" loading="lazy" >
        <img src="./assets/ataway.webp" alt="imagen logo ataway" style="max-width: 100%; height: 50px;" loading="lazy" >
        <img src="./assets/beccar png logo.webp" alt="imagen logo beccar" style="max-width: 100%; height: 70px;" loading="lazy" >
        <img src="./assets/cordial logo png.webp" alt="imagen logo cordial" style="max-width: 100%; height: 70px;" loading="lazy" >
        <img src="./assets/creoslogopng.webp" alt="imagen logo creos" style="max-width: 100%; height: 70px;" loading="lazy" >
        <img src="./assets/global mix.webp" alt="imagen logo glabal mix" style="max-width: 100%; height: 70px;" loading="lazy" >
        <img src="./assets/Logo naranja VU.webp" alt="imagen logo vu" style="max-width: 100%; height: 70px;" loading="lazy" >
        <img src="./assets/Mototech.webp" alt="imagen logo mototech" style="max-width: 100%; height: 70px;" loading="lazy" >
        <img src="./assets/Multitech.webp" alt="imagen logo multitech" style="max-width: 100%; height: 70px;" loading="lazy" >
        <img src="./assets/pothole logo png.webp" alt="imagen logo pothole" style="max-width: 100%; height: 70px;" loading="lazy" >
        <img src="./assets/redlink.webp" alt="imagen logo redlink" style="max-width: 100%; height: 70px;" loading="lazy" >
        <img src="./assets/Syn_med_black.webp" alt="imagen logo syn" style="max-width: 100%; height: 50px;" loading="lazy" >
        <img src="./assets/Secure auth.webp" alt="imagen logo secure auth" style="max-width: 100%; height: 50px;" loading="lazy" >
        <img src="./assets/beccar png logo.webp" alt="imagen loco beccar" style="max-width: 100%; height: 70px;" loading="lazy" >
        <img src="./assets/syngenta.webp" alt="imagen logo syngenta" style="max-width: 100%; height: 50px;" loading="lazy" >
        <img src="./assets/wizard.webp" alt="imagen logo wizard" style="max-width: 100%; height: 50px;" loading="lazy" >

      </div>
      
      
    

    </section>
    <!-- Clientes  end =============================================  -->

    <!-- Contacto  =============================================  -->
    <section id="contacto" class="contacto">
      <div class="content">
        <h1 class="logo-contact">Contacto</h1>
        <div>
          <div class="contact-wrapper animated bounceInUp">
            <div class="contact-form">
              <div id="app" class="form">
                <p>
                  <label for="nombre">Nombre</label>
                  <input type="text" name="nombre" id="nombre" />
                </p>
                <p>
                  <label for="email">Correo Electrónico</label>
                  <input
                    type="email"
                    name="email"
                    id="email"
                    v-model="from_name"
                  />
                </p>
                <p>
                  <label for="telefono">Teléfono</label>
                  <input
                    type="tel"
                    name="telefono"
                    id="telefono"
                    v-model="from_telefono"
                  />
                </p>
                <p>
                  <label for="asunto">Asunto</label>
                  <input
                    type="text"
                    name="asunto"
                    id="asunto"
                    v-model="subject"
                  />
                </p>
                <p class="block">
                  <label for="mensaje">Ingrese su mensaje</label>
                  <textarea
                    name="message"
                    rows="3"
                    v-model="message"
                    id="mensaje"
                  ></textarea>
                </p>
                <p class="block">
                  <button @click="enviar">Enviar consulta</button>
                </p>
              </div>
            </div>
            <div class="contact-info">
              <h2>Más Info</h2>
              <ul>
                <li>
                  <i class="fas fa-map-marker-alt"></i> Paraguay 917, 1er piso, Buenos Aires, Argentina
                </li>
                <li><i class="fas fa-phone"></i> +541168119269</li>
                <li>
                  <i class="fas fa-envelope-open-text"></i>
                  <a href="mailto:sales@sinaptic.com.ar?subject=Asunto" style="color: #fff; text-decoration: none;">sales@sinaptic.com.ar</a> 
                </li>
              </ul>
              <p>
                Envianos tu consulta.
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- ALERTAS -->
      <div class="alertas">
        <div id="alertError" class="alert hide">
          <span class="icono-alert fas fa-exclamation-circle"></span>
          <span class="msg">Error: campos de entrada vacios.</span>
        </div>

        <div id="alertErrorMail" class="alert hide">
          <span class="icono-alert fas fa-exclamation-circle"></span>
          <span class="msg">El correo electrónico debe ser valido.</span>
        </div>

        <div id="alertSuccess" class="alert hide">
          <span class="icono-alert fas fa-check-circle"></span>
          <span class="msg">¡Datos enviados! Gracias por contactarnos.</span>
        </div>
      </div>
    </section>
    <!-- Contacto end =============================================  -->

    <!-- FOOTER =============================================  -->

    <footer id="footer" class="footer">
      
<div class="footer-container">


      <div class="social-icons">
        <div class="sociales">
          <a
            href="https://www.facebook.com/Sinaptic.ES"
            target="_blank"
            alt="facebook de Sinaptic"
            aria-label="Facebook"
            rel="noopener"
            ><span class="fab fa-facebook" alt="facebook de Sinaptic"></span
          ></a>
          <a
            href="https://www.instagram.com/sinaptic_ar/"
            target="_blank"
            aria-label="Instagram"
            alt="instagram de Sinaptic"
            rel="noopener"
            ><span class="fab fa-instagram" alt="instagram de Sinaptic"></span
          ></a>
          <a
            href="https://api.whatsapp.com/send?phone=+541168119269"
            target="_blank"
            aria-label="Whastapp"
            alt="whatsapp de Sinaptic"
            rel="noopener"
            ><span class="fab fa-whatsapp" alt="whatsapp de Sinaptic"></span
          ></a>
          <a
            href="https://www.linkedin.com/company/sinaptic"
            target="_blank"
            aria-label="Linkedin"
            alt="linkedin de Sinaptic"
            rel="noopener"
            ><span class="fab fa-linkedin" alt="linkedin de Sinaptic"></span
          ></a>

          <div class="footer-data">
            <i class="icon-envelope2"></i>  <a href="mailto:sales@sinaptic.com.ar?subject=Asunto" style="color: #fff; text-decoration: none; text-transform: lowercase;">sales@sinaptic.com.ar</a> 
          </div>
        </div>
      </div>
      <div class="footer-img">
        <a href="#body">
          <img
            id="footerimg"
            src="assets/logoblanco.png"
            alt="logo Sinaptic"
            loading="lazy"
          />
        </a>
      </div>
    </div>
    </footer>
    <!-- #footer end -->

    <!--APP JS DE LA WEB-->
    <script src="./pwa.js" defer></script>
    <script src="js/app.js" defer></script>

    <!-- AOS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>

    <!--TRABAJAMOS CON VUE PARA EMAIL-->
    <script src="./js/vue@2.js"></script>
    <!--INTEGRAMOS EMAILJS-->
    <script
      src="https://cdn.emailjs.com/dist/email.min.js"
      type="text/javascript"
    ></script>

    <!--VALIDACION Y ENVIAR EMAIL CON EMAILJS-->
    <script>
      (function () {
        emailjs.init("user_glGpscUm4wdPBCAVrXQQE");
      })();
      const vue = new Vue({
        el: "#app",
        data() {
          return {
            from_name: "",
            from_email: "",
            message: "",
            subject: "",
            from_telefono: "",
          };
        },
        methods: {
          enviar() {
            let data = {
              from_name: this.from_name,
              from_email: this.from_email,
              message: this.message,
              subject: this.subject,
              from_telefono: this.from_telefono,
            };
            var inputNombre = document.getElementById("nombre");
            var inputAsunto = document.getElementById("asunto");
            var inputEmail = document.getElementById("email");
            var inputMensaje = document.getElementById("mensaje");
            var inputTelefono = document.getElementById("telefono");
            var alertErrorEmail = document.getElementById("alertErrorMail");
            var alertSuccess = document.getElementById("alertSuccess");
            var alertError = document.getElementById("alertError");

            const emailRegex =
              /^(([^<>()\[\]\\.,:\s@"]+(\.[^<>()\[\]\\.,:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

            if (
              inputNombre.value == 0 ||
              inputMensaje.value == 0 ||
              inputEmail.value == 0
            ) {
              alertError.classList.remove("hide");
              alertError.classList.add("show");

              setTimeout(function () {
                alertError.classList.remove("show");
                alertError.classList.add("hide");
              }, 2000);
            } else if (
              emailRegex.test(inputEmail.value) == false &&
              inputEmail.value != 0
            ) {
              alertErrorEmail.classList.remove("hide");
              alertErrorEmail.classList.add("show");

              setTimeout(function () {
                alertErrorEmail.classList.remove("show");
                alertErrorEmail.classList.add("hide");
              }, 2000);
            } else {
              emailjs
                .send("service_b2hkwla", "template_ncklwvf", data)

                .then(
                  function (response) {
                    if (
                      response.text === "OK" &&
                      inputNombre.value != 0 &&
                      inputEmail.value != 0 &&
                      inputMensaje.value != 0
                    ) {
                      alertSuccess.classList.remove("hide");
                      alertSuccess.classList.add("show");

                      setTimeout(function () {
                        alertSuccess.classList.remove("show");
                        alertSuccess.classList.add("hide");
                      }, 2000);
                      inputNombre.value = "";
                      inputAsunto.value = "";
                      inputEmail.value = "";
                      inputMensaje.value = "";
                      inputTelefono.value = "";

                      console.log(
                        "SUCCESS. status=%d, text=%s",
                        response.status,
                        response.text
                      );
                    }
                  },
                  function (err) {
                    console.log("FAILED. error=", err);
                  }
                );
            }
          },
        },
      });
    </script>
    <script type="text/javascript" async="" defer="" src="https://spanalytics.com.ar/piwik.js"></script>
  </body>
</html>
