<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect to https" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
        </rule>
        <!--<rule name="Redirect to https home" stopProcessing="true">
          <match url="^(sinaptic.com.ar)$" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://sinaptic.com.ar" redirectType="Permanent" appendQueryString="false" />
        </rule>-->
        <rule name="redirect all" stopProcessing="true">
          <match url="^(.*)$" ignoreCase="false" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" pattern="" ignoreCase="false" />
			<add input="{REQUEST_URI}" pattern="blog/" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" appendQueryString="true" />
        </rule>
        <!--INICIO - Modificado por panel de control para la redireccion de Sub-dominios - NO Borrar!!-->
        <!--FIN - Modificado por panel de control para la redireccion de Sub-dominios-->
        <!--INICIO - Modificado por panel de control para la redireccion de Sub-dominios - NO Borrar!!-->
        <!--FIN - Modificado por panel de control para la redireccion de Sub-dominios-->
        <!--INICIO - Modificado por panel de control para la redireccion de Sub-dominios - NO Borrar!!-->
        <!--FIN - Modificado por panel de control para la redireccion de Sub-dominios-->
        <!--INICIO - Modificado por panel de control para la redireccion de Sub-dominios - NO Borrar!!-->
        <!--FIN - Modificado por panel de control para la redireccion de Sub-dominios-->
        <!--INICIO - Modificado por panel de control para la redireccion de Sub-dominios - NO Borrar!!-->
        <!--FIN - Modificado por panel de control para la redireccion de Sub-dominios-->
        <!--INICIO - Modificado por panel de control para la redireccion de Sub-dominios - NO Borrar!!-->
        <!--FIN - Modificado por panel de control para la redireccion de Sub-dominios-->
        <!--INICIO - Modificado por panel de control para la redireccion de Sub-dominios - NO Borrar!!-->
        <!--FIN - Modificado por panel de control para la redireccion de Sub-dominios-->
        <!--INICIO - Modificado por panel de control para la redireccion de Sub-dominios - NO Borrar!!-->
        <!--FIN - Modificado por panel de control para la redireccion de Sub-dominios-->
        <!--INICIO - Modificado por panel de control para la redireccion de Sub-dominios - NO Borrar!!-->
        <!--FIN - Modificado por panel de control para la redireccion de Sub-dominios-->
        <!--INICIO - Modificado por panel de control para la redireccion de Sub-dominios - NO Borrar!!-->
        <!--FIN - Modificado por panel de control para la redireccion de Sub-dominios-->
        <!--INICIO - Modificado por panel de control para la redireccion de Sub-dominios - NO Borrar!!-->
        <!--FIN - Modificado por panel de control para la redireccion de Sub-dominios-->
        <!--INICIO - Modificado por panel de control para la redireccion de Sub-dominios - NO Borrar!!-->
        <remove name="api.sinaptic.com.ar" />
        <rule name="api.sinaptic.com.ar" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^(www.)?api.sinaptic.com.ar(.*)" />
			       <add input="{PATH_INFO}" pattern="^/api/" negate="true" />
      
          </conditions>
          <action type="Rewrite" url="\api\{R:0}" redirectType="Permanent" />
        </rule>
        <!--FIN - Modificado por panel de control para la redireccion de Sub-dominios-->
        <!--INICIO - Modificado por panel de control para la redireccion de Sub-dominios - NO Borrar!!-->
        <remove name="blogadmin.sinaptic.com.ar" />
        <rule name="blogadmin.sinaptic.com.ar" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^(www.)?blogadmin.sinaptic.com.ar(.*)" />
            <add input="{PATH_INFO}" pattern="^/blogadmin/" negate="true" />
          </conditions>
          <action type="Rewrite" url="\blog\wp-admin\{R:0}" redirectType="Permanent" />
        </rule>
        <!--FIN - Modificado por panel de control para la redireccion de Sub-dominios-->
        <!--INICIO - Modificado por panel de control para la redireccion de Sub-dominios - NO Borrar!!-->
        <!--FIN - Modificado por panel de control para la redireccion de Sub-dominios-->
        <!--INICIO - Modificado por panel de control para la redireccion de Sub-dominios - NO Borrar!!-->
        <remove name="blog.sinaptic.com.ar" />
        <rule name="sinaptic.com.ar" stopProcessing="true">
          <match url=".*/blog" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^(www.)?sinaptic.com.ar(.*)" />
            <add input="{PATH_INFO}" pattern="^/blog/" negate="true" />
          </conditions>
          <action type="Rewrite" url="\blog\{R:0}" redirectType="Permanent" />
        </rule>
        <!--FIN - Modificado por panel de control para la redireccion de Sub-dominios-->
      </rules>
    </rewrite>
  </system.webServer>
</configuration>